# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages
node_modules/
dist/
npm-debug.log

# project
.vscode/
typings/
plugins/
hooks/
cordova/
platforms/
src/assets/f7_fonts